table tr{
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 24px;
}
th{
    background-color: #f5f5f5;
    color: #222;
    font-weight: 500;
    padding-top:10px;
    padding-bottom: 10px;
}
td{
    color: #444;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    padding-top:16px;
    padding-bottom: 16px;

}

.icon{
    margin: 0 10px;
}
.first-heading{
    margin-left: 10px;
    padding-left: 10px;
}

.action-icons{
    margin: 36px;
}
.action-icons img{
    padding: 1px;
}