@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); 


@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.App {
    margin:0;
    padding:0;
    height:100%;
}

.active  {
    background-color:#00c52a ;
    color: white;
    border-radius: 6px;
    padding: 10px 24px;
}   

.search {
    position: relative;
    width: 45px;
    height: 60px;
    background: #fff;
    border-radius: 5px;
    /* transition: 0.5s; */
    /* box-shadow: 0 0 0 5px #2573ef; */
    overflow: hidden;
    
}

.search.active{
    width: 740px;
    /* border: 1px solid red; */
    background: #F5F5F5;
    
}


.search .input {
    position: relative;
    width: 680px;
    height: 60px;
    left:45px;
    bottom: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    
}

.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size:18px;
    padding: 10px 0;
    background: #F5F5F5;
    box-shadow: none;
}



